/* === Layout Container === */
.items-overview {
      display: flex;
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;
      padding: 1rem;
      align-items: center;
      flex-direction: column;
}

/* === Grid === */
.items-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}
