.carousel-container {
	display: flex;
	justify-content: center;
}

.group-with-arrow-buttons {
	position: relative; 
	display: flex; 
	width: 100%;
	width: 800px; 
	max-width: 39rem; 
	padding: 1rem; 
	align-items: center; 
	justify-content: space-between;
}

.emoji {
	font-size: 4rem; 
}

.emoji-text {
	font-size: 1.5rem; 
}

.view-three { 
	display: flex; 
	width: 250px; 
	flex-direction: row;
	gap: 1rem; 
	justify-content: center;
	margin-left: 1rem; 
	margin-right: 1rem;
}

.clothes-card {
	display: flex; 
	min-width: 135px; 
	padding: 1rem;
	border: solid black; 
	border-radius: var(--border-radius-md);
	background-color: rgba(0, 0, 0, 0.53); 
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
	color: var(--White);
	align-items: center; 
	flex-direction: column; 
	justify-content: center; 
}
