.carousel-container {
	display: flex;
	justify-content: center;
}

.group-with-arrow-buttons {
	position: relative; 
	width: 100%; 
	max-width: 39rem; 
	padding: 1rem; 
	display: flex; 
	align-items: center; 
	justify-content: space-between;
	width: 800px;
}

.emoji {
	font-size: 4rem; 
}

.emoji-text {
	font-size: 1.5rem; 
}

.view-three {
	margin-left: 1rem; 
	margin-right: 1rem; 
	display: flex; 
	flex-direction: row; 
	justify-content: center;
	gap: 1rem; 
	width: 250px;
}

.clothes-card {
	border: solid black;
	display: flex; 
	flex-direction: column;
	align-items: center; 
	justify-content: center; 
	min-width: 135px;
	background-color: rgba(0, 0, 0, 0.53); 
	color: var(--White); 
	padding: 1rem; 
	border-radius: var(--border-radius-md); 
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}
