.carousel-container {
	display: flex;
	justify-content: center;
}

.group-with-arrow-buttons {
	position: relative; 
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	width: 100%;
	width: 50rem; 
	max-width: 39rem; 
	padding: 1rem;
}

.emoji {
	font-size: 4rem; 
}

.emoji-text {
	font-size: 1.5rem; 
}

.view-three { 
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	width: 15.625rem;
	gap: 1rem;
	margin-left: 1rem; 
	margin-right: 1rem;
}

.clothes-card {
	display: flex; 
	flex-direction: column; 
	justify-content: center;
	align-items: center; 
	min-width: 8.4375rem;
	padding: 1rem;
	border: var(--border-black-sm); 
	border-radius: var(--border-radius-md);
	background-color: rgba(0, 0, 0, 0.53); 
	box-shadow: 0 .5rem 1rem -.15rem rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
	color: var(--White); 
}
