
:root{
      --text-color: var(--Black);
}

label {
      display: flex;
      color: var(--White);
      text-transform: uppercase;
      letter-spacing: 0.125rem;
      align-items: flex-start;
      flex-direction: column;
      font: inherit;
      gap: var(--spacing-100);
}

input {
      box-sizing: border-box;
      width: 100%;
      height: 2.8125rem;
      padding: var(--spacing-100) var(--spacing-200);
      border: var(--border-white-sm);
      border-radius: var(--border-radius-sm);
      background: var(--White);
      color: var(--Black);
      transition: all .4s ease; 
}

input:hover{
      cursor: pointer;
}

input[type="text"] {
      background: var(--white);
      box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.875);
      color: var(--White);
      line-height: 130%;
      font: inherit;
      font-feature-settings: 'liga' off, 'clig' off
}

input::placeholder {
      color: var(--White);
      opacity: .95;
      font: inherit;
}

input:focus {
      border: solid 2px var(--White);
      border-radius: var(--border-radius-sm);
      background-color: var(--Background-color);
      outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
      border: 0.0625rem solid var(--input-errors);
      border-radius: var(--border-radius-sm);
      background: var(--white);
}

input:user-invalid{
      border: 0.0625rem solid var(--input-errors);
      border-radius: var(--border-radius-sm);
      background: var(--white);
}

.error-message {
      overflow: hidden;
      height: 0;
      color: var(--input-errors);
      line-height: 125%;
      transition: all .4s ease;
      font: inherit; 
}

input:user-invalid ~ .error-message {
      height: .93rem;
}

#expDateM-error.error-message {
      width: 200%;
      text-align: left;
}

.pill-container{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
}