.datepicker-container {
      display: flex;
      flex-direction: column;
      font-family: system-ui, sans-serif;
      gap: 6px;
}

.datepicker-label {
      color: var(--Op-Black);
      font-size: 14px;
      font-weight: 500;
}

.datepicker-input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
}


.datepicker-input {
      width: 200px;
      padding: .5rem 32px .5rem .5rem;
      border: var(--border-white-sm);
      border-radius: var(--border-radius-sm);
      box-shadow: 3px 4px 1.25rem 9px rgba(0, 0, 0, 0.875);
      color: var(--White);
      font-size: 1.05rem;
      outline: none;

}

.datepicker-input:focus {
      background-color: var(--Background-color);
      box-shadow: 0 0 0 2px rgba(0, 122, 255, 0.2);
      color: var(--White);
      border-color: #007aff;
}

.datepicker-button {
      position: absolute;
      right: 90px;
      padding: 4px;
      border: none;
      background: none;
      color: var(--White);
      cursor: pointer;
}

.datepicker-popover {
      border: var(--border-black-sm);;
      border-radius: var(--border-radius-md);
      background: var(--Background-color);
      box-shadow: 0px 4px .5rem rgba(0, 0, 0, 0.15);
}

/* Calendar Styles */
.calendar {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: var(--spacing-100);
      border-radius: var(--border-radius-md);
      background-color: var(--Background-color);
      box-shadow: var(--box-shadow);
      color: var(--White);
}

.calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 200px;
      color: var(--White);
      margin-bottom: var(--spacing-100);
}

.calendar-header button {
      padding: 0;
      border: none;
      background: none;
      color: var(--White);
      font-size: 1rem;
      cursor: pointer;
}

.calendar-grid {
      display: grid;
      gap: 4px;
      grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      border-radius: var(--border-radius-ty);
      background: none;
      color: var(--White);
      font-size: 13px;
      text-align: center;
      cursor: pointer;
}

.calendar-day:hover {
      box-shadow: 2px 2px 1.25rem var(--Black);
      transform: none;

}

/* --- SELECTED DATE STYLES --- */
.calendar-day.selected {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem; /* ~15% larger than 26px */
      height: 2rem;
      border: none;
      border-radius: var(--border-radius-circle);
      background-color: var(--White);
      box-shadow: 0 0 .5rem rgba(255, 255, 255, 0.6);
      color: var(--Background-color);
      font-weight: 600;
      transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
}
.calendar-day.selected:hover {
      transform: scale(1.15);
}

button.calendar-day {
      margin: .5rem;
      padding: 0;
}