.modal-overlay {
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	inset: 0;
}

.modal-panel {
	max-width: 430px;
	width: 90%;
	max-height: 80vh;
	border: 1px solid var(--text-primary);
	border-radius: var(--border-radius-sm);
	background: var(--Modal-dark-grey-light-red-background);
	box-shadow: var(--elevation-high);
	overflow-y: auto;
}

/* Header */
.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-200, 1rem) var(--spacing-300, 1.5rem);
	border-bottom: 1px solid var(--border-hairline);
}

.modal-title {
	margin: 0;
	color: var(--text-primary);
	font-size: 1.1rem;
	font-weight: 600;
}

.modal-close-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	margin: 0;
	padding: 0;
	border: 1px solid var(--border-strong);
	border-radius: 50%;
	/* background: var(--bg-surface-secondary); */
	background: #898682;
	color: var(--text-secondary);
	font-size: 1.2rem;
	line-height: 1;
	cursor: pointer;
	transition: background 0.15s ease, color 0.15s ease;
}

.modal-close-btn:hover {
	background: var(--bg-surface-secondary);
	background: #b2afaa;
	color: var(--text-primary);
	border-color: var(--border-brand);
}

/* Body */
.modal-body {
	padding: var(--spacing-100, .5rem) var(--spacing-300, 1.5rem);
}

/* Footer */
.modal-footer {
	display: flex;
	justify-content: flex-end;
	padding: var(--spacing-200, 1rem) var(--spacing-300, 1.5rem);
	border-top: 1px solid var(--border-hairline);
	gap: var(--spacing-100, 0.5rem);
}
