:root {
      /* --FORM-WIDTH: 42rem */
}

.step-tabs-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: transparent;
      margin-bottom: 1.5rem;
}

.step-tabs-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: calc(var(--Form-width) + 2rem); /*// width of the form */
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      list-style: none;
}

.step-tab {
      /* min-width: 70px; TODO: MAKE TABS UNIFORM IN SIZE>??*/
      position: relative;
      padding: 0.5rem .75rem;
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.95rem;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      transition: color 0.2s ease, transform 0.2s ease;
      user-select: none;
}

.step-tab:hover {
      color: var(--White);
      transform: translateY(-2px);
}

.step-tab.active {
      color: var(--White);
      font-weight: 600;
}

.step-tab-underline {
      position: absolute;
      right: 0;
      bottom: -4px;
      left: 0;
      height: 2px;
      border-radius: 2px;
      background-color: var(--White);
      box-shadow: 0 0 .5rem rgba(255, 255, 255, 0.8);
}
