.edit-form {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: var(--border-radius-sm);
      background: var(--Dark-Grey);
      background: linear-gradient(180deg, rgb(120 172 191 / 70%) 0%, rgb(103 131 133 / 76%) 50%);
      position: relative;
      overflow: hidden; /* important for max-height animations */
      height: 75%;
      max-width: var(--Form-width);
      margin: .5rem auto;
      padding: var(--Form-padding);
      border: var(--Dark-Grey) .5rem solid;
      border-radius: var(--border-radius-md);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
}

.edit-form.form > form > form > div > label {
      flex-direction: row;
      text-align: left;
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      width: 40%;
      font-size: .8rem;
      margin: 0;
      box-shadow: none;
      margin-bottom: 0;
}

.edit-form.form > form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 100%;
      justify-content: space-between;
}

.form-fields{
      display: flex;
      flex-wrap: wrap;
      /* justify-content: space-between; */
      color: black;
      column-gap: 1.5rem;
}

input[type="text"] {
      box-shadow: none;
      height: 2.5rem;
      width: 9rem;
      text-transform: capitalize;
      color: black;
      border: solid black 2px;
}

textarea {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .5rem;
      color: black;
      border: solid black 2px;
      width: 41rem;
      box-shadow: none;
      height: 5rem;
      text-transform: capitalize;
      color: black;
      border: solid black 2px;
      border-radius: var(--border-radius-sm);
      background: none;
}

label:has(textarea) {
      color: black;
      font-weight: 600;
      font-size: .8rem;
}

form > form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
}

.edit-form.form > form > form > div > label > span {
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: 600;

}
#root > div > div.edit-form.form > form > div > label >span {
      color: black;
      font-weight: 600;
      font-size: .8rem;
}

form > div > label.animated-checkbox  {
      display: flex;
      flex-direction:column-reverse;
      width: 9rem;;
      align-items: flex-start;
}

form > div > label.animated-checkbox  .checkbox-label {
      paint-order: none;
      -webkit-text-stroke: none;
      align-items: flex-start;
}

.animated-checkbox  span.checkbox-label  {
      color: black !important;
}

label.animated-checkbox button.checkbox-root {
      border: solid black 2px;
}