label {
	font-weight: 600;
	font-size: 24px;
	color: black;
	margin-bottom: 10px;
	justify-content: center;
	border-radius: 5px;
	display: flex;
}

.dropdown {
	position: relative;
	font-family: Arial, sans-serif;
	user-select: none;
}

.dropdown-header {
	padding: 10px;
	border: 1px solid #000000;
	background-color: #0202022b;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000;
}

.dropdown-selected {
	flex-grow: 1;
}

.dropdown-icon {
	transition: transform 0.3s ease;
}

.dropdown-icon.open {
	transform: rotate(180deg);
}

/* Options container with smooth transition */
.dropdown-options {
	position: absolute;
	width: 100%;
	border: 1px solid #000;
	border-top: none;
	background-color: #0202022b;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s ease;
	z-index: 1000;
	color: black;
}

.dropdown-options.open {
	max-height: 300px; /* Adjust according to the number of options */
}

.dropdown-option {
	padding: 10px;
	border-top: 1px solid #000;
	cursor: pointer;
}

.dropdown-option:hover {
	background-color: #f2f2f2;
}
