label {
	display: flex;
	border-radius: var(--border-radius-ty);
	color: var(--Black);
	font-size: 2rem;
	font-weight: 600;
	justify-content: center;
	margin-bottom: 10px;
}

.dropdown {
	position: relative;
	font-family: Arial, sans-serif;
	user-select: none;
}

.dropdown-header {
	display: flex;
	padding: 10px;
	border: var(--border-black-sm);
	border-radius: var(--border-radius-ty);
	background-color: var(--Background-color);
	color: var(--Black);
	cursor: pointer;
	align-items: center;
	justify-content: space-between;;
}

.dropdown-selected {
	flex-grow: 1;
}

.dropdown-icon {
	transition: transform 0.3s ease;
}

.dropdown-icon.open {
	transform: rotate(180deg);
}

/* Options container with smooth transition */
.dropdown-options {
	position: absolute;
	z-index: 1000;
	overflow: hidden; /*important for dropdown affect */
	width: 100%;
	max-height: 0; /*important for dropdown affect */
	border: var(--border-black-sm);
	background-color: var(--Background-color);
	color: var(--Black);
	transition: max-height 0.3s ease;
	border-top: none;
}

.dropdown-options.open {
	max-height: 405px; /* Adjust according to the number of options */
}

.dropdown-option {
	padding: 10px;
	cursor: pointer;
	border-top: 1px solid #000;
}

.dropdown-option:hover {
	background-color: #f2f2f2;
}
