form {
	height: clamp(400px, 50vh, 900px);
}

.form {
	width: 500px;
	max-width: 32rem;
	margin-top: 1.5rem;
	padding: 1.5rem;
	overflow: hidden; /* important for max-height animations */
	backdrop-filter: blur(5px);
	background: var(--background-form);
	position: relative;
	height: clamp(400px, 50vh, 900px);
	border-radius: 16px;
	box-shadow: 10px 11px 30px 12px rgba(0, 0, 0, 0.875);
	border: solid white;
}


.form-step{
	height: clamp(400px, 50vh, 900px);
	display: flex;
	flex-direction: column;
}



.checkbox-label {
	display: flex; /* flex */
	align-items: center; /* items-center */
	gap: 0.25rem; /* space-x-1 (if using the gap property) */
	padding: 0.25rem 0.5rem; /* py-1 (vertical 0.25rem) and px-2 (horizontal 0.5rem) */
	border-radius: 0.25rem;
}

.field-label {
	text-align: left;
	margin-bottom: 1rem;
}
.form-controls {
	display: flex; /* flex */
	justify-content: space-around; /* justify-between */
	margin-top: 1rem;
}
.next-button {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.back-button {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

button.submit {
	background-color: #10B981; 
	position: absolute;
	right: 20px;
	bottom: 20px;

}
button.submit:hover {
	background-color: #059669; 
}
